@model AS.App.Intranet.ViewModels.HoursWorked.AddMonthLocationViewModel

@{
    ViewBag.Title = "Add Location";
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}

<div style="margin-top: 30px; margin-right: 30px; margin-left: 30px;">

    <h2>Add Month</h2>


    @using (Html.BeginForm(new { id = "addForm", name = "addForm" }))
    {
        <table>
            <tr>
                <td>@(Html.LabelFor(m => m.CountryID))</td>
                <td>
                    @(Html.Kendo().DropDownListFor(m => m.CountryID)
                .AutoBind(false)
                .OptionLabel("Select Country... ")
                .DataTextField("Name")
                .DataValueField("ID")
                .HtmlAttributes(new { data_value_primitive = true, style = "width:200px" })
                .DataSource(dataSource => dataSource.Read(read => read.Action("ReadAllCountries", "Hierarchy")).ServerFiltering(true))
                )
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.CountryID)</td>
            </tr>
            <tr>
                <td>@(Html.LabelFor(m => m.LocationID))</td>
                <td>
                    @(Html.Kendo().DropDownListFor(m => m.LocationID)
                .AutoBind(false)
                .OptionLabel("Select location... ")
                .DataTextField("Name")
                .DataValueField("ID")
                .HtmlAttributes(new { data_value_primitive = true, style = "width:200px" })
                .CascadeFrom("CountryID")
                .DataSource(dataSource => dataSource.Read(read => read.Action("GetLocationsFilteredByCountryID", "Location").Data("filterLocations")).ServerFiltering(true))
                )
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.LocationID)</td>
            </tr>
            <tr>
                <td>@(Html.LabelFor(m => m.Year))</td>
                <td>@(Html.Kendo().DropDownListFor(m => m.Year)
                      .Name("Year")
                      .OptionLabel("Select year...")
                      .DataTextField("Name")
                      .DataValueField("ID")
                      .HtmlAttributes(new { style = "width:200px" })
                      .DataSource(source => source.Read(read => read.Action("GetAddMonthYearLocation", "HoursWorked").Data("filterYears")).ServerFiltering(true))
                      .CascadeFrom("LocationID")
                      .AutoBind(false)
                      )</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.Year)</td>
            </tr>
            <tr>
                <td>@(Html.LabelFor(m => m.Month))</td>
                <td>@(Html.Kendo().DropDownListFor(m => m.Month)
                      .Name("Month")
                      .OptionLabel("Select month...")
                      .DataTextField("Name")
                      .DataValueField("ID")
                      .HtmlAttributes(new { style = "width:200px" })
                      .DataSource(source => source.Read(read => read.Action("GetAddMonthMonthLocation", "HoursWorked").Data("filterMonths")).ServerFiltering(true))
                      .CascadeFrom("Year")
                      .AutoBind(false)
                      .Enable(false)
                      )</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationMessageFor(m => m.Month)</td>
            </tr>
            <tr>
                <td>
                    <span id="addInventory" class="k-button">Add</span>
                </td>
            </tr>

        </table>

    }
</div>

<script type="text/javascript">

    //$("#LocationID").data("kendoDropDownList").list.width(400);

    function filterLocations() {
        return {
            countryID: $("#CountryID").val()
        };
    }

    function filterYears() {
        return {
            countryID: $("#CountryID").val(),
            locationID: $("#LocationID").val()
        };
    }

    function filterMonths() {
        return {
            countryID: $("#CountryID").val(),
            locationID: $("#LocationID").val(),
            year: $("#Year").val()
        };
    }

    $(document).ready(function () {
        $("#addInventory")
            .bind("click", function () {
                //if ($("form").valid()) {

                var addMonthViewModel = {
                    CountryID: parseInt($("#CountryID").data("kendoDropDownList").value()),
                    LocationID: parseInt($("#LocationID").data("kendoDropDownList").value()),
                    Year: parseInt($("#Year").data("kendoDropDownList").value()),
                    Month: parseInt($("#Month").data("kendoDropDownList").value())
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddMonthLocation", "HoursWorked")',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(addMonthViewModel),
                    dataType: "json",
                    success: function (data) {

                        var grid = window.parent.$("#grid").data("kendoGrid");
                        grid.dataSource.read();

                        var win = window.parent.$("#addMonthWindowDiv").data("kendoWindow");
                        win.close();

                    },
                    error: function (request, status, error) {

                        onError(error);
                    }
                });
                //}
            });
    });

        function onError(e, status) {
            if (e.errors) {
                var message = "The following errors have occurred:\n";

                $.each(e.errors, function (key, value) {
                    if (value.errors) {
                        message += value.errors.join("\n");
                    }
                });

                var gridProd = $("#ProductGrid").data("kendoGrid");
                gridProd.dataSource.read();

                alert(message);
            }
        }

</script>
