<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - williams scotsman</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <div class="wrapper">
        <div class="container">
            <div class="header span-11 add-bottom-margin-5">
                <div class="logoDiv">
                    <a class="logoHeader">Algeco Scotsman</a>
                </div>
            </div>
            <div class="span-11 pagetitle">
                @*<span class="phoneright">@Html.Action("_LoggedInAs", "Shared")</span>*@
            </div>
            <div class="span-12">
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
                <footer>
                    <div class="content-wrapper">
                    </div>
                </footer>
                
                @Scripts.Render("~/bundles/jquery")
                @RenderSection("scripts", required: false)

            </div>

            <div class="span-4 last">
            </div>
            <div class="span-11 landingFooter">

                <p class="company">Williams Scotsman Corporate Headquarters </p>
                <p class="address">901 S Bond Street Suite 600&nbsp;&nbsp;.&nbsp;&nbsp;Baltimore, MD&nbsp;&nbsp;.&nbsp;&nbsp;21231&nbsp;&nbsp;.&nbsp;&nbsp;Toll Free:  800.782.1500</p>
                <p class="copyright">©2014 Williams Scotsman, Inc., All Rights Reserved.</p>

            </div>
        </div>
    </div>
</body>
</html>


@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">ASP.NET Web API</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>*@
