<div class="add-bottom-margin-1">
    <ul>
        <li>@Html.ActionLink("Maintain VAPS Inventory", "Index", "Home")</li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Maintain Product Categories", "Category", "Admin")</li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Maintain Products", "Product", "Admin")</li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Add Active Product To All Branches", "AddActiveProductToAllBranches", "Admin")</li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Add Month To All Branches", "AddMonthToAllBranches", "Admin")</li>
    </ul>
</div>