<!DOCTYPE html>

@Styles.Render("~/Content/css/popup.css")
@Styles.Render("~/Content/kendo/2013.2.716/kendo.common.min.css")
@Styles.Render("~/Content/kendo/2013.2.716/kendo.willscot.min.css")
@Styles.Render("~/Content/css/validationEngine.jquery.css")

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/jquery-1.9.1.js")
@Scripts.Render("~/Scripts/jquery-ui-1.10.1.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/kendo/2013.2.716/kendo.web.min.js")
@Scripts.Render("~/Scripts/kendo/2013.2.716/kendo.aspnetmvc.min.js")

<script type="text/javascript">
    $.validator.setDefaults({ ignore: "" });
    $.ajaxSetup({ cache: false });
</script>

<div>
    @RenderBody()
</div>
